<div class="col s12 m6 offset-m3">
	<form ng-submit="admin.addItem()" class="card">
		<div class="card-content">
			<span class="card-title grey-text text-darken-4">Add new item</span>
			<div class="row">
				<div class="input-field col s12">
					<label for="name">Name</label>
					<input id="name" type="text" ng-model="admin.item.name" ng-required="true"/>
				</div>			
			</div>
			<span>Type</span><br>
			<input name="type" type="radio" id="weapon" ng-model="admin.item.type" ng-value="'weapon'" ng-required="true"/>
			<label for="weapon">Weapon</label>
			<input name="type" type="radio" id="potion" ng-model="admin.item.type" ng-value="'potion'"/>
			<label for="potion">Potion</label>
			<div class="row" ng-if="admin.item.type == 'potion'">
				<div class="input-field col s12">
					<label for="healing">Healing</label>
					<input id="healing" type="text" ng-model="admin.item.healing" />
				</div>
			</div>
			<div class="row" ng-if="admin.item.type == 'weapon'">
				<div class="input-field col s12">
					<label for="damage">Damage</label>
					<input id="damage" type="text" ng-model="admin.item.damage" />
				</div>			
			</div>
		</div>
		<div class="card-action">
			<button class="btn waves-effect waves-light" type="submit">Add</button>
			<a href="/admin">Back</a>
		</div>
	</form>
</div>