<div class="col s12 m6 offset-m3">
	<form ng-submit="admin.doAdminlogin()" class="card">
		<div class="card-content">
			<span class="card-title grey-text text-darken-4">Log in as admin</span>
			<div class="row">
				<div class="input-field col s12">
					<label for="name">Name</label>
					<input id="name" type="text" ng-model="admin.name" />
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<label for="password">Password</label>
					<input id="password" type="password" ng-model="admin.password" />
				</div>
			</div>
		</div>
		<div class="card-action">
			<button class="btn waves-effect waves-light" type="submit">Log in</button>			
			<a href="/login">Log in as player</a>
		</div>
	</form>
</div>