@mixin animation($name, $duration) {
	-webkit-animation: $name $duration both ease-in;
	-moz-animation: $name $duration both ease-in;
	animation: $name $duration both ease-in;
}

.main {
	position: relative;
	margin-top: 50px;
}

.animated {
	&.ng-enter, &.ng-leave {
		width: 100%;
		position: absolute;
	}
	
	&.ng-enter {
		@include animation(fadeInRight, 0.5s);
	}
	
	&.ng-leave {
		@include animation(fadeOutRight, 0.5s);
	}
}

.delete {
	color: red;
	cursor: pointer;
}

.collection-header {
	font-size: 1.1em;
	i {
		font-size: 1.3em;
		font-weight: bold;
		cursor: pointer;
		vertical-align: middle;
		float: right;
	}
}